<!DOCTYPE html>
<html lang='en'>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<head>
    <h1>Search Results</h1>
    <text>To select an image, please click on the picture</text>
</head>

<body>
    <div><br /></div>
    {% for image in images %}
    <div>
        {% csrf_token %}
        <a href="{% url 'edit-photo' image.id %}">
            <img src={{ image.url }} crossorigin='anonymous'>
        </a>
        <h4>{{ image.title }}</h4>
    </div>
    <br />
    {% endfor %}
</body>

</html>