<!DOCTYPE html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/konva@5.0.3/konva.min.js"></script>
</head>

<html lang='en'>

<body>
    <form id="edit-img-form" onsubmit="return false">
        <input id="form_caption" class="text" name="caption" placeholder="Write something here!" maxlength="140" />
        <div><br /></div>
        <div>
            <label for="font_color">Font Color:</label>
            <input id="font_color" type="color" name="fontcolor" />
            <label for="font_size">Font Size:</label>
            <input id="font_size" type="number" name="fontsize" min="18" max="128" step="2" value="24" />
        </div>
        <div><br /></div>
        <div>
            <input id="form_submit" type="submit" value="Submit" class="btn btn-primary" onclick="change_photo()" />
            <input id="download_image" type="submit" value="Download" class="btn btn-primary" onclick="save_photo()" />
        </div>
    </form>
    <br />
    <!--To be referenced by canvas-->
    <img src="{{ img_url }}" crossorigin="anonymous" id="src-img" hidden>

    <!--TODO: Added instructions for user-->
    <div id="container"></div>
    {% load static %}
    <script src="{% static 'memegen/js/edit_photo.js' %}"></script>
</body>

</html>
